<div class='data-presentation'>
    <div class='data-presentation-title'>
        Select from the sidebar the types of data you want to add to your application
    </div>
    <div class='col-md-3'><span class="sideicon fa fa-cogs"></span></div>
    <div class='col-md-3'><span class="sideicon fa fa-database" aria-hidden="true"></span></div>
    <div class='col-md-3'><span class="sideicon fa fa-file-text-o"></span></div>
    <div class='col-md-3'><span class="sideicon fa fa-cloud"></span></div>
</div>
