/*============ SIDEBAR ============*/
$font-title: 20px "Roboto", ".Helvetica NeueUI", "Helvetica Neue", sans-serif;
$font-menu: 16px "Roboto", ".Helvetica NeueUI", "Helvetica Neue", sans-serif;
$font-header: 16px "Roboto", ".Helvetica NeueUI", "Helvetica Neue", sans-serif;
$font-presentation: 20px "Roboto", ".Helvetica NeueUI", "Helvetica Neue", sans-serif;
$font-error: 13px "Roboto", ".Helvetica NeueUI", "Helvetica Neue", sans-serif;
$font-table-header: 14px "Roboto", ".Helvetica NeueUI", "Helvetica Neue", sans-serif;
$font-table: 13px "Roboto", ".Helvetica NeueUI", "Helvetica Neue", sans-serif;
$font-entity-titles: 15px "Roboto", ".Helvetica NeueUI", "Helvetica Neue", sans-serif;
$menu-hover-color: #2C7BB2;
$menu-background: white;
$border-color: #CCCCCC;
$table-header-background: #258CB9;
/*============ SIDEBAR ============*/

.sidebar {
  background-color: $menu-background;
  color: $menu-hover-color;
  border-style: solid;
  border-color: $border-color;
  border-width: 1px;
  padding: 15px 0 5px;
  border-radius: 5px;
  font: $font-title;

  .sidetitle {
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .sidemenu {
    padding: 0;
    list-style-type: none;

    .sideitem {
      padding: 10px 10px 10px 50px;
      font: $font-menu;

      .sideicon {
        padding-right: 30px;
        float: right;
      }
    }

    a{
      text-decoration: none;
      color: $menu-hover-color;

      .sideitem:hover {
        background-color: $menu-hover-color;
        color: $menu-background;
      }
    }
  }
}

/*============ RIGHT PANEL CONTAINER ============*/

.storage-selection {
  background-color: $menu-background;
  border-style: solid;
  border-color: $border-color;
  border-width: 1px;
  border-radius: 5px;
  padding: 0;
  min-height: 700px;
  margin-left: 10px;
  margin-right: 10px;

  .col-md-12{
    padding: 0;
  }
}

.data_presentation {
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
  font: $font-presentation;
  text-align: center;
}

/*============ STORAGE HEADER ============*/

.df_header {
  margin-top: 20px;
  padding: 10px;
  display: inline-block;
  width: 100%;

  .df_title {
    font: $font-header;
    float: left;
    margin-top: 5px;
    margin-left: 35px;
    min-width: 150px;
  }

  hr #header_hr{
    padding: 0;
    margin: 0;
  }

  .switch_button {
    float: right;
    margin-right: 30px;

    #edbutton {
      min-width: 150px;
    }

    #but_icon {
      margin-left: 10px;
    }
  }
}

/*============ DEFAULT PREFERENCES ============*/

.table-container{

    padding-left: 35px;
    padding-right: 35px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    .record_header th {
      font: $font-table-header;
      color: white;
      font-weight: normal;
      background-color: $table-header-background;
      vertical-align: middle;
      text-align: center;
    }

    .record_row td {
      font: $font-table;
      font-weight: normal;
      vertical-align: middle;
      text-align: center;
    }

    #del_record_button {
      visibility: hidden;
      background-color: #ffffff;
    }

    .record_row:hover #del_record_button {
      visibility: visible;
    }

    .record_row:hover td{

    }

    #rec_controls {
      color: #ff4444;
      font: $font-error;
      text-align: center;

      .error-message{
        margin-right:5px;
      }

      #button-rec{
        margin-left: 5px;
      }
    }
}

/*============ SQLITE DATABASE ============*/

.database_editor{
  padding: 0;
  margin-top: -20px;

  .col-md-3{
    padding: 0;

    .entity-panel{
      border-right: 2px solid $border-color;
      border-top-width: 0;
      border-left-width: 0;
      border-bottom-width: 0;
      background: white;
      width: 100%;
      min-height: 600px;
      padding-top: 20px;

      .entities-title{

        font: $font-header;
        margin-left:30px;
        margin-bottom: 10px;
      }

      .entities-list{

          list-style: none;
          padding: 0;

          a{
            color: $menu-hover-color;
            text-decoration: none;

            .entities-list-item{

                padding:10px;
                padding-left:30px;
                border-bottom: 1px solid $border-color;
                background: $menu-background;

                i{
                  margin-right:10px;
                }
            }

            .entities-list-edit{
              padding: 5px;
            }
          }

          .entities-list-item:hover, .entities-list-item:active, .entities-list-item:visited{

              background: $menu-hover-color;
          }

          a .entities-list-item:hover, a .entities-list-item:active, a .entities-list-item:visited{
            color: $menu-background;
            text-decoration: none;
          }


      }
    }

    #button-add{
      margin-left: 150px;

    }
  }
}

/*============ ENTITIES ============*/

.entity-editor{

    .entity-header{
      margin-top: 20px;
      display: inline-block;

      #entity-name{
        width: 250%;
      }

      #del-entity{
        float:left;
      }
    }

    .entity-attributes{

      display: inline-block;
      font: $font-entity-titles;

      .primary-key{
        margin-top:10px;
      }

      .table-entity-attributes{
        margin-top:10px;
        margin-right:100px;
        font: $font-table;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        text-align: center;

        #attribute-header th{
          vertical-align: middle;
          color: white;
          font-weight: normal;
          background-color: $table-header-background;
          text-align: center;
        }

        .attribute-row td{
            vertical-align: middle;

        }

        #del_record_button{
          visibility: hidden;
        }

        .attribute-row:hover{

          #del_record_button{
            visibility: visible;
          }
        }

        #rec_controls {
          color: #ff4444;
          font: $font-error;
          text-align: center;

          .error-message{
            margin-right:5px;
          }


        }

        #button-att-rem{
          margin-left: 5px;
        }

        #button-add-attribute{
          margin-top: 5px;
          margin-bottom: 5px;
        }
      }
    }

    .entity-relationships{
      margin-top: 0px;
      font: $font-entity-titles;

      .table-entity-relationships{
        margin-top:10px;
        margin-right:100px;
        font: $font-table;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        text-align: center;

        #relationship-header th{
          font: $font-table-header;
          color: white;
          font-weight: normal;
          background-color: $table-header-background;
          vertical-align: middle;
          text-align: center;
        }

        .relationship-row td{
            vertical-align: middle;

            input{
              margin-left: auto;
              margin-right: auto;
              width: 90%;
            }

            select{
              margin-left: auto;
              margin-right: auto;
              width: 90%;
            }
        }

        #rec_controls {
          color: #ff4444;
          font: $font-error;
          text-align: center;

          .error-message{
            margin-right:5px;
          }
        }
      }
    }
}
