/*============ VARIABLES ============*/

$font-title-sidebar: 20px "Roboto", ".Helvetica NeueUI", "Helvetica Neue", sans-serif;
$font-menu-item: 16px "Roboto", ".Helvetica NeueUI", "Helvetica Neue", sans-serif;

$font-presentation: 20px "Roboto", ".Helvetica NeueUI", "Helvetica Neue", sans-serif;

$font-section-header: 16px "Roboto", ".Helvetica NeueUI", "Helvetica Neue", sans-serif;
$font-header-button: 13px "Roboto", ".Helvetica NeueUI", "Helvetica Neue", sans-serif;

$font-header: 14px "Roboto", ".Helvetica NeueUI", "Helvetica Neue", sans-serif;

$font-error: 13px "Roboto", ".Helvetica NeueUI", "Helvetica Neue", sans-serif;
$font-table-header: 13px "Roboto", ".Helvetica NeueUI", "Helvetica Neue", sans-serif;
$font-table: 13px "Roboto", ".Helvetica NeueUI", "Helvetica Neue", sans-serif;

$menu-hover-color: #2C7BB2;
$menu-background: white;
$border-color: #CCCCCC;
$table-header-background: #258CB9;

$storage-selection-min-height: 700px;
$items-sidebar-minheight: 600px;

/*============ SIDEBAR ============*/

.sidebar {
  background-color: $menu-background;
  color: $menu-hover-color;
  border: 1px solid $border-color;
  padding: 15px 0px 15px 0px;
  border-radius: 5px;

  .side-title {
    margin: 20px auto 20px 30px;
    font: $font-title-sidebar;
  }

  .side-menu {
    padding: 0px;
    list-style-type: none;

    .side-item {
      padding: 10px 10px 10px 50px;
      font: $font-menu-item;

      .side-icon {
        padding-right: 30px;
        float: right;
      }
    }

    a{
      text-decoration: none;
      color: $menu-hover-color;

      .side-item:hover {
        background-color: $menu-hover-color;
        color: $menu-background;
      }
    }
  }
}

/*============ RIGHT PANEL CONTAINER ============*/

.storage-selection {
  background-color: $menu-background;
  border: 1px solid $border-color;
  border-radius: 5px;
  padding: 0;
  min-height: $storage-selection-min-height;
  margin: 0px 10px 0px 10px;
  overflow: auto;

  .col-md-12{
    padding: 0;
  }
}

/*============ DATA MODEL INDEX ============*/

.data-presentation {
  display: block;
  margin: 40px auto 40px auto;
  text-align: center;

  .data-presentation-title{
    font: $font-presentation;
    margin-bottom: 20px;
  }

  .col-md-3 .span{
    width: 100%;
  }
}

/*============ SECTION HEADER ============*/

.section-header {
  margin: 10px 0px 0px 0px;
  padding: 10px;
  display: inline-block;
  width: 100%;

  .section-header-title {
    font: $font-section-header;
    float: left;
    margin-top: 5px;
    margin-left: 35px;
    min-width: 150px;
  }

  .switch-button {
    float: right;
    margin-right: 30px;

    .en-di-button {
      min-width: 150px;
      font: $font-header-button;
    }

    .but-icon {
      margin-left: 15px;
    }
  }

}

.section-header-hr{
  margin: 0px;
}

/*============ TABLE STYLE ============*/

.table-container{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  .table-header th {
    font: $font-table-header;
    font-weight: normal;
    color: white;
    background-color: $table-header-background;
    vertical-align: middle;
    text-align: center;
  }

  .table-row td {
    font: $font-table;
    font-weight: normal;
    vertical-align: middle;
    text-align: center;
  }

  #del-row-button {
    visibility: hidden;
    background-color: #ffffff;
  }

  .table-row:hover #del-row-button {
    visibility: visible;
  }

  .row-controls {

    .error-message{
      margin-right: 5px;
      color: #ff4444;
      font: $font-error;
    }

    #rem-row-button{
      margin-left: 5px;
    }
  }
}

/*============ SIDEBAR ENTITIES / CLOUD_OBJECTS ============*/

.items-sidebar{
  padding: 0px;

  .items-panel{
    border-right: 2px solid $border-color;
    background: white;
    width: 100%;
    min-height: $items-sidebar-minheight;
    padding-top: 20px;

    .items-title{
      font: $font-header;
      margin-left:30px;
      margin-bottom: 10px;
    }

    .items-list{
      list-style: none;
      padding: 0;

      a{
        color: $menu-hover-color;
        text-decoration: none;

        .items-list-item{
          padding:10px;
          padding-left:30px;
          border-bottom: 1px solid $border-color;
          background: $menu-background;

          i{
            margin-right:10px;
          }
        }

        .items-list-edit{
          padding: 5px;
        }
      }

      .items-list-item:hover{
        background: $menu-hover-color;
      }

      a .items-list-item:hover{
        color: $menu-background;
        text-decoration: none;
      }
    }
  }

  #button-add{
    margin-left: 150px;
  }
}
