/*============ SQLITE DATABASE ============*/

$font-header: 14px "Roboto", ".Helvetica NeueUI", "Helvetica Neue", sans-serif;
$font-entity-titles: 16px "Roboto", ".Helvetica NeueUI", "Helvetica Neue", sans-serif;

$menu-hover-color: #2C7BB2;
$menu-background: white;
$border-color: #CCCCCC;
$table-header-background: #258CB9;

$entity-sidebar-minheight: 600px;

/*============ ENTITIES ============*/

.col-md-3{
  padding: 0px;

  .entity-panel{
    border-right: 2px solid $border-color;
    border-top-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;
    background: white;
    width: 100%;
    min-height: $entity-sidebar-minheight;
    padding-top: 20px;

    .entities-title{
      font: $font-header;
      margin-left:30px;
      margin-bottom: 10px;
    }

    .entities-list{
      list-style: none;
      padding: 0;

      a{
        color: $menu-hover-color;
        text-decoration: none;

        .entities-list-item{
          padding:10px;
          padding-left:30px;
          border-bottom: 1px solid $border-color;
          background: $menu-background;

          i{
            margin-right:10px;
          }
        }

        .entities-list-edit{
          padding: 5px;
        }
      }

      .entities-list-item:hover{
        background: $menu-hover-color;
      }

      a .entities-list-item:hover{
        color: $menu-background;
        text-decoration: none;
      }
    }
  }

  #button-add{
    margin-left: 150px;
  }
}

/*============ ENTITY EDITOR ============*/

.entity-editor{

  .entity-header{
    margin-top: 20px;
    display: inline-block;

    #entity-name{
      width: 250%;
    }

    #del-entity{
      float:left;
    }
  }

  .entity-property{

    .entity-property-title{
      font: $font-entity-titles;
      font-weight: bold;
      margin-left: 5px;
    }

    .primary-key{
      margin-top:10px;
    }

    .table-entity-properties{
      margin-top:10px;
      margin-right:100px;

      #button-add-property{
        display: block;
        margin: auto;
      }

    }
  }
}
