<div class="control-content">
	{{#if isWithImage}}
		<div class="grid-image"></div>
	{{else}}
		{{#if isDetailed}}
			<div class="grid-image"></div>
			<p class="grid-text">{{title}}</p>
		{{else}}
			<div class="grid-image-empty"></div>
			<p class="grid-text">{{title}}</p>
		{{/if}}
	{{/if}}
</div>
{{#link-to "controlGridViewCell" this tagName="div" class="inner-control"}}{{/link-to}}
