<div class="control-content">
  {{#if isNormalBackType}}
    Videocamera
  {{else}}
    {{#if isIconBackType}}
      <div class="videocamera_icon"></div>
    {{/if}}
  {{/if}}
</div>
{{#link-to "controlVideocameraController" this tagName="div" class="inner-control"}}{{/link-to}}
