<div class="control-content">
  {{#if isNormalBackType}}
    Photocamera
  {{else}}
    {{#if isIconBackType}}
      <div class="photocamera_icon"></div>
    {{/if}}
  {{/if}}
</div>
{{#link-to "controlPhotocameraController" this tagName="div" class="inner-control"}}{{/link-to}}
