<div class="control-content">
    <div class="slider-left-row"></div>
    <div class="slider-image"></div>
    <div class="slider-right-row"></div>
</div>
{{#link-to "controlSlider" this tagName="div" class="inner-control"}}{{/link-to}}
