<h3>Protoc<i class="fa fa-code"></i>de
    <small>From idea to mobile app</small>
</h3>
<br>
<div class="row">
    <div class="col-md-10">
        <div class="well about-section col-md-12">
            <div>
                <img src="../img/about/code_icon.png" class="code-icon">
                <img src="../img/about/poli_logo.png" class="poli-logo">
                <div class="about-text col-md-8">
                    Protocode v3.0 is a master thesis project done at Politecnico di Milano,
                    <br>degree in Computer Science and Engineering.
                    <br>Made by Alessio Rossotti from the original projects of Aldo Pintus and Mattia Natali.
                    <br>
                </div>
            </div>
            <hr class="col-md-12">
            <div class="about-links col-md-12">
                <img src="../img/about/github_logo.png" class="github-icon">
                GitHub Links :
                <br><br>
                <div class="list-group col-md-5">
                    <a href="https://github.com/alessioros/protocode3" class="list-group-item list-group-item-action active">
                        Protocode v3.0  - Alessio Rossotti
                    </a>
                    <a href="https://github.com/aldopolimi/protocode" class="list-group-item list-group-item-action">
                        Protocode v2.0  - Aldo Pintus
                    </a>
                    <a href=href="https://github.com/deib-polimi/protocode" class="list-group-item list-group-item-action">
                        Protocode v1.0  - Mattia Natali
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
