<h3>Protoc<i class="fa fa-code"></i>de <small>From idea to mobile app</small></h3>
<br>
<div class="row">
	  <div class="col-md-4">
		    <div class="well">
						Protocode v2.0 is a Master Thesis project
						<br>
						In Computer Science and Engineering at the Politecnico di Milano
						<br>
						Made by Aldo Pintus from the original project of Mattia Natali.
						<br><br>
						GitHub Links :
						<br><br>
						<ul>
								<li>
										<a href="https://github.com/aldopolimi/protocode" target="_blank">
											Protocode v2.0 (Aldo Pintus)
										</a>
								</li>
								<li>
										<a href="https://github.com/deib-polimi/protocode" target="_blank">
											Protocode v1.0 (Mattia Natali)
										</a>
								</li>
						</ul>
		    </div>
	  </div>
</div>
