<div class="sidebar col-md-3">
  <div class="sidetitle">Storage options</div><hr>
  <ul class="sidemenu">
    {{#if model.prefHandler}}
    {{#link-to 'preference_records'}}
    <li class="sideitem">
      Default preferences
      <span class="sideicon fa fa-cogs"></span>
    </li>
    {{/link-to}}
    {{else}}
    {{#link-to 'preference_handler'}}
    <li class="sideitem">
      Default preferences
      <span class="sideicon fa fa-cogs"></span>
    </li>
    {{/link-to}}
    {{/if}}
    {{#if model.databaseHandler}}
    {{#link-to 'entities'}}
    <li class="sideitem">
      SQLite Database
      <span class="sideicon fa fa-database" aria-hidden="true"></span>
    </li>
    {{/link-to}}
    {{else}}
    {{#link-to 'database_handler'}}
    <li class="sideitem">
      SQLite Database
      <span class="sideicon fa fa-database" aria-hidden="true"></span>
    </li>
    {{/link-to}}
    {{/if}}
    <li class="sideitem">File storage<span class="sideicon fa fa-file-text-o"></span></li>
    <li class="sideitem">Cloud storage<span class="sideicon fa fa-cloud"></span></li>
  </ul>
</div>
<div class="col-md-9">
  <div class="storage-selection">
    {{outlet}}
  </div>
</div>
