<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-4">
                <div class="form-inline">
                    <div class="input-group" style="width:100%">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                        </span>
                        {{view Ember.Select
                          content=smartphones
                          optionLabelPath='content.label'
                          optionValuePath="content"
                          class="form-control input-sm"
                          value=smartphone
                        }}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-inline">
                    <div class="input-group" style="width:100%">
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                      </span>
                        {{view Ember.Select content=smartwatches optionLabelPath='content.label' optionValuePath="content" class="form-control input-sm" value=smartwatch}}
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            </div>
        </div>
    </div>
</div>
{{outlet}}
